*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plain Light" ;
    color: white;
}
html,body{
    height: 100%;
    width: 100%;

}

#loader{

    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #0B0B0B;
    padding: 25vh 10vw;
}
.line {
    height: fit-content;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3vw;

}
.line h2{
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 900;
}
.line h1{
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 900;
}
#line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.3vw;
}
#line1-part1 h5,#line1-part1 h6{
    font-size: 3vw;
    font-family: silk serif;
    font-weight: 100;
}
#line1-part1 h5{
    width: 5vw;
    text-align: right;
}
.main{
    position: relative;
    background-color: #111;
}